<div class="row">
  <div class="col-xs-12">
    <h2>Price: {{ getNumberClicked() }}</h2>
    <h2>Total: {{ getTotalValue() }}</h2>

  </div>
</div>
<div class="row">
  <div class="col-xs-9">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <button type="button" value="7" (click)="onClickedNumber($event)" class="btn btn-default">7</button>
      <button type="button" value="8" (click)="onClickedNumber($event)" class="btn btn-default">8</button>
      <button type="button" value="9" (click)="onClickedNumber($event)" class="btn btn-default">9</button>
      <button type="button" value="+" (click)="onClickedOperator($event)" class="btn btn-default">+</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-9">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <button type="button" value="4" (click)="onClickedNumber($event)" class="btn btn-default">4</button>
      <button type="button" value="5" (click)="onClickedNumber($event)" class="btn btn-default">5</button>
      <button type="button" value="6" (click)="onClickedNumber($event)" class="btn btn-default">6</button>
      <button type="button" value="-" (click)="onClickedOperator($event)" class="btn btn-default">-</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-9">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <button type="button" value="1" (click)="onClickedNumber($event)" class="btn btn-default">1</button>
      <button type="button" value="2" (click)="onClickedNumber($event)" class="btn btn-default">2</button>
      <button type="button" value="3" (click)="onClickedNumber($event)" class="btn btn-default">3</button>
      <button type="button" class="btn btn-default">=</button>
    </div>
  </div>
</div>
