@mixin clearfix {
  zoom: 1;
  &:before, &:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}


app-calculator {
  background-color: #ffffff;
  padding-bottom: 1em;
  position: fixed;
  display:block;
  @include clearfix;
}

app-shopping-list {
  margin-top: 250px;
  overflow: hidden;
  display: block;
  @include clearfix;

}
